{% extends 'base.html' %}

{% block content %}


    {% if request.user.id == post.user.id %}
        <a class="btn btn-danger" href="{% url 'home:post_delete' post.id %}">Delete</a>
        <a class="btn btn-info" href="{% url 'home:post_update' post.id %}">Update</a>
        <br>
        <br>
    {% endif %}
    <p><a href="{% url 'accounts:user_profile' post.user.id %}">{{ post.user.username }}</a>
        - {{ post.updated | date:"Y-M" }}</p>
    <p>{{ post.body }}</p>

    <hr>


    {% if request.user.is_authenticated %}

        <a href="{% url 'home:post_like' post.id %}" class=" {% if can_like %} disabled {% endif %} btn btn-primary col-md-2">Like ({{ post.likes_count }})</a>
        <br>
        <br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send">
        </form>

    {% else %}
        <p class="alert alert-danger">only logged in users can comment</p>
    {% endif %}

    <br>
    <br>

    <p>Commtents : {{ comments.count }}</p>
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user.username }} | {{ comment.created | timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>

            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'home:add_reply' post.id comment.id %}" style="display: none">
                    {% csrf_token %}
                    {{ reply_form.as_p }}
                    <input type="submit" value="send">
                </form>
            {% endif %}

            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary  p-3 m-2">
                        {{ reply.user }} :
                        <br>
                        {{ reply.body }}
                    </p>

                {% endfor %}
            {% endwith %}
        </div>
        <br>

    {% empty %}
        <p>No Comments Yet!</p>
    {% endfor %}

{% endblock %}